.icon-store,
.icon-top,
.icon-add,
.icon-tag,
.icon-map
  width 3rem
  height 3rem

.icon-logout
  width 2rem
  height 2rem

.icon-logo
  width 100%

.icon-pencil,
.icon-heart,
.icon-review
  width 2rem
  height 2rem